<navigation></navigation>

<a name="books"></a>
<section id="books" class="intro-header bg-light-gray bounds content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-ending">Books of Game of Thrones</h2>
                <h3 id="below-section" class="section-subheading text-muted">
                    Below you will find all the books listed
                </h3>
            </div>
        </div>
        <books books="booksCtrl.books"></books>
    </div>
</section>