<navigation></navigation>

<a name="books"></a>
<section id="books" class="intro-header bg-light-gray bounds" style="background: rgb(218,221,6); height: 79750px; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-ending">Characters of Game of Thrones</h2>
                <h3 id="below-section" class="section-subheading text-muted">
                    Below you will find all the Characters listed
                </h3>
            </div>
        </div>
        <characters characters="charactersCtrl.characters"></characters>
    </div>
</section>