<navigation></navigation>

<a name="books"></a>
<section id="books" class="intro-header bg-light-gray bounds content-section-sb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-ending">Book of Game of Thrones</h2>
                <h3 id="below-section" class="section-subheading text-muted">
                    Below you will find the desired book's specs listed
                </h3>
            </div>
        </div>
        <singlebook singlebook="singlebookCtrl.singlebook"></singlebook>
    </div>
</section>