<navigation></navigation>

<a name="books"></a>
<section id="books" class="intro-header bg-light-gray bounds content-section-sh">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-ending">House of Game of Thrones Universe</h2>
                <h3 id="below-section" class="section-subheading text-muted">
                    Below you will find the desired house's specs listed
                </h3>
            </div>
        </div>
        <singlehouse singlehouse="singlehouseCtrl.singlehouse"></singlehouse>
    </div>
</section>